<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
</head>


<body data-spy="scroll" data-target=".navbar" data-offset="50">
<div class="container">
	<div id="section" class="container-fluid">
		<h1>Valor Umbral por encima</h1>
		<p>Se muestran aquellos casos por encima del <b>umbral de cotización</b> introducido por el cliente</p>
		<table class="table">
			<thead>
				<tr>
					<th>Cotización</th>
					<th>Hora</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				{% for n in dict4 %}
				<tr>
					<td>{{ dict4[n]['cotizacion'] }}</td>
					<td>{{ dict4[n]['hora'] }}</td>
					<td>{{ dict4[n]['fecha'] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<h1>Valor Umbral por debajo</h1>
		<p>Se muestran aquellos casos por debajo del <b>umbral de cotización</b> introducido por el cliente</p>
		<table class="table">
			<thead>
				<tr>
					<th>Cotización</th>
					<th>Hora</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				{% for n in dict5 %}
				<tr>
					<td>{{ dict5[n]['cotizacion'] }}</td>
					<td>{{ dict5[n]['hora'] }}</td>
					<td>{{ dict5[n]['fecha'] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<form name="bolsa" id="formulario6" action="bolsa">
			<button id="btn_cotizacion" type="submit" class="btn btn-cotizacion">Volver</button>
		</form>
		<br><br><br><br>
	</div>
</div>
</body>
</html>